header {
    background-color: bisque;
}

.nav-one {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

a {
    background-color: rgb(255, 232, 158);
}

h1 {
    background-color: rgb(255, 232, 158);
    color: tomato;
}