
body {
    text-align: center;
}

img {
    height: 100px;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.text {
    max-width: 200px;
}